.form__root {
  margin-top: 30px;
  width: 70%;
}

.form__title {
  font-size: 25px;
  font-weight: 400;
}

.form__subtitle {
  font-weight: 300;
  color: #484848;
}

.contribute__button {
  background-color: #4663ac;
  border-radius: 50px;
  width: 200px;
}
